.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/What-Do-Software-Engineers-Do-WOZ-2-min-768x404.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 547px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 3rem; margin: 133px 0 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; font-weight: normal; width: 757px; margin: 45px auto 0}
.u-section-1 .u-image-1 {width: 240px; height: 53px; margin: 79px auto 0 450px}
.u-section-1 .u-text-3 {font-size: 1.5rem; font-weight: normal; margin: -46px auto 60px 509px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 496px}
.u-section-1 .u-text-1 {margin-top: 120px}
.u-section-1 .u-text-2 {margin-top: 19px; margin-left: 92px; margin-right: 92px}
.u-section-1 .u-image-1 {width: 198px; margin-top: 81px; margin-left: 371px}
.u-section-1 .u-text-3 {width: auto; margin-top: -53px; margin-left: 409px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 427px}
.u-section-1 .u-text-1 {margin-top: 60px}
.u-section-1 .u-text-2 {font-size: 1.125rem; width: 568px; margin-top: 22px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-1 {width: 160px; height: 38px; margin-top: 40px; margin-left: 280px}
.u-section-1 .u-text-3 {font-size: 1.125rem; margin-top: -38px; margin-left: auto; margin-bottom: 70px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 331px}
.u-section-1 .u-text-1 {font-size: 1.875rem; margin-top: 96px}
.u-section-1 .u-text-2 {font-size: 0.875rem; margin-top: 12px; margin-left: -14px; margin-right: -14px}
.u-section-1 .u-image-1 {margin-top: 26px; margin-left: 190px}
.u-section-1 .u-text-3 {margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 244px}
.u-section-1 .u-text-1 {font-size: 1.25rem; margin-top: 67px}
.u-section-1 .u-text-2 {font-size: 0.625rem; margin-top: 15px; margin-left: 8px; margin-right: 8px; width: auto}
.u-section-1 .u-image-1 {width: 125px; height: 36px; margin-top: 23px; margin-left: 108px}
.u-section-1 .u-text-3 {font-size: 1rem; margin-top: -33px; margin-bottom: 41px; margin-left: 129px} }.u-section-2 {background-image: url("images/shape2.png"); background-position: 50% 50%; background-size: auto 130%}
.u-section-2 .u-sheet-1 {min-height: 151px}
.u-section-2 .u-text-1 {font-weight: 700; line-height: 1.1; font-size: 4.5rem; margin: 35px auto 37px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 153px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 78px}
.u-section-2 .u-text-1 {font-size: 3rem; width: auto; margin-top: 13px; margin-bottom: 13px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 56px}
.u-section-2 .u-text-1 {font-size: 1.5rem; margin-top: 15px; margin-bottom: 15px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 31px}
.u-section-2 .u-text-1 {font-size: 1rem; margin-top: 7px; margin-bottom: 7px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 1472px}
.u-section-3 .u-text-1 {font-size: 1.25rem; margin: 121px 477px 0 2px}
.u-section-3 .u-image-1 {width: 429px; height: 388px; margin: -201px 0 0 auto}
.u-section-3 .u-text-2 {font-size: 1.875rem; margin: -376px auto 0 0}
.u-section-3 .u-line-1 {width: 711px; height: 3px; transform-origin: left center 0; border-style: dashed; margin: 298px auto 0 0}
.u-section-3 .u-text-3 {font-size: 1.875rem; margin: 87px 152px 0 494px}
.u-section-3 .u-text-4 {font-size: 1.25rem; margin: 26px 0 0 494px}
.u-section-3 .u-image-2 {width: 419px; height: 451px; margin: -296px auto 0 0}
.u-section-3 .u-line-2 {width: 743px; height: 3px; transform-origin: left center 0; border-style: dashed; margin: -60px 8px 0 auto}
.u-section-3 .u-text-5 {font-size: 1.25rem; margin: 277px 564px 0 0}
.u-section-3 .u-image-3 {width: 521px; height: 348px; margin: -395px 0 0 auto}
.u-section-3 .u-text-6 {font-size: 1.875rem; margin: -222px auto 0 0}
.u-section-3 .u-line-3 {width: 743px; height: 3px; transform-origin: left center 0; border-style: dashed; margin: 248px auto 0 0}
.u-section-3 .u-btn-1 {border-style: none; font-size: 0.875rem; letter-spacing: 1px; font-weight: 700; text-transform: uppercase; background-image: none; margin: 18px auto 45px 470px; padding: 14px 52px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 1434px}
.u-section-3 .u-text-1 {font-size: 1.125rem; width: auto; margin-top: 113px; margin-right: 479px; margin-left: 0}
.u-section-3 .u-image-1 {width: 354px; margin-top: -263px}
.u-section-3 .u-text-2 {width: auto; margin-top: -373px}
.u-section-3 .u-line-1 {width: 559px; margin-top: 327px}
.u-section-3 .u-text-3 {width: auto; margin-top: 76px; margin-right: 106px; margin-left: 431px}
.u-section-3 .u-text-4 {font-size: 1.125rem; width: auto; margin-top: 10px; margin-right: 2px; margin-left: 431px}
.u-section-3 .u-image-2 {width: 311px; height: 352px; margin-top: -274px}
.u-section-3 .u-line-2 {width: 565px; transform-origin: right center 0; margin-top: -3px; margin-right: 2px}
.u-section-3 .u-text-5 {width: auto; margin-top: 165px; margin-right: 467px}
.u-section-3 .u-image-3 {width: 412px; height: 275px; margin-top: -294px}
.u-section-3 .u-text-6 {width: auto; margin-top: -303px}
.u-section-3 .u-line-3 {width: 529px; margin-top: 316px}
.u-section-3 .u-btn-1 {margin-top: 42px; margin-left: auto; margin-bottom: 10px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1071px}
.u-section-3 .u-text-1 {font-size: 1rem; margin-top: 72px; margin-right: 316px}
.u-section-3 .u-image-1 {width: 276px; height: 277px; margin-top: -213px}
.u-section-3 .u-text-2 {font-size: 1.5rem; margin-top: -263px; margin-left: 1px}
.u-section-3 .u-line-1 {width: 434px; margin-top: 202px}
.u-section-3 .u-text-3 {font-size: 1.5rem; margin-top: 51px; margin-right: 160px; margin-left: 311px}
.u-section-3 .u-text-4 {font-size: 1rem; margin-top: 8px; margin-left: 306px}
.u-section-3 .u-image-2 {width: 260px; height: 294px; margin-left: 11px}
.u-section-3 .u-line-2 {width: 442px; margin-top: 11px; margin-right: 0}
.u-section-3 .u-text-5 {font-size: 1rem; margin-top: 126px; margin-right: 371px; margin-left: 1px}
.u-section-3 .u-image-3 {width: 355px; height: 237px; margin-top: -274px}
.u-section-3 .u-text-6 {font-size: 1.5rem; margin-top: -251px; margin-left: 1px}
.u-section-3 .u-line-3 {width: 368px; margin-top: 262px}
.u-section-3 .u-btn-1 {margin-top: 29px; margin-bottom: 17px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 932px}
.u-section-3 .u-text-1 {font-size: 0.875rem; margin-top: 47px; margin-right: 276px}
.u-section-3 .u-image-1 {width: 234px; height: 218px; margin-top: -218px}
.u-section-3 .u-text-2 {font-size: 1.25rem; margin-top: -218px}
.u-section-3 .u-line-1 {width: 313px; margin-top: 204px}
.u-section-3 .u-text-3 {font-size: 1.25rem; margin-top: 14px; margin-right: -1px; margin-left: 217px}
.u-section-3 .u-text-4 {font-size: 0.875rem; margin-top: 0; margin-right: 0; margin-left: 217px}
.u-section-3 .u-image-2 {width: 206px; height: 234px; margin-top: -212px}
.u-section-3 .u-line-2 {width: 362px; margin-top: 20px}
.u-section-3 .u-text-5 {font-size: 0.875rem; margin-top: 109px; margin-right: 276px}
.u-section-3 .u-image-3 {width: 256px; height: 157px; margin-top: -220px}
.u-section-3 .u-text-6 {font-size: 1.25rem; margin-top: -202px; margin-left: 0}
.u-section-3 .u-line-3 {width: 313px; margin-top: 253px}
.u-section-3 .u-btn-1 {margin-top: 18px; margin-bottom: 14px; padding: 7px 34px 9px 32px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 742px}
.u-section-3 .u-text-1 {font-size: 0.625rem; margin-right: 135px}
.u-section-3 .u-image-1 {width: 135px; height: 116px; margin-top: -146px}
.u-section-3 .u-text-2 {font-size: 0.875rem; margin-top: -134px}
.u-section-3 .u-line-1 {width: 203px; margin-top: 148px; margin-left: 2px}
.u-section-3 .u-text-3 {font-size: 0.875rem; margin-top: 25px; margin-right: 71px; margin-left: 146px}
.u-section-3 .u-text-4 {font-size: 0.625rem; margin-top: 6px; margin-right: -1px; margin-left: 145px}
.u-section-3 .u-image-2 {width: 138px; height: 168px; margin-top: -197px; margin-left: 0}
.u-section-3 .u-line-2 {width: 211px; margin-top: 29px}
.u-section-3 .u-text-5 {font-size: 0.625rem; margin-top: 69px; margin-right: 157px; margin-left: 0}
.u-section-3 .u-image-3 {width: 136px; height: 98px; margin-top: -135px; margin-right: auto; margin-left: 205px}
.u-section-3 .u-text-6 {font-size: 0.875rem; margin-top: -157px; margin-left: 2px}
.u-section-3 .u-line-3 {width: 203px; margin-top: 198px; margin-left: 2px}
.u-section-3 .u-btn-1 {font-size: 0.75rem; margin-top: 17px; margin-bottom: 17px; padding: 4px 11px 6px 9px} }